<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Une voiture d'occasion !</title>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="icon" type="image/png" href="/static/images/logo.png">

</head>

<body background={{img}} style="background-size:cover;">

    <div class="globalreponse">
        <h2 class="pcentered">En fonction de la marque que vous avez choisie, ainsi que des différents choix
            effectués votre voiture vaut environ : ${{result}} !
            <br />
            Mais chez "MARCO CASION" nous reprenons cette voiture environ : ${{resultmarco}} !
        </h2>
    </div>

    <a class="arrow" href="/">
        <img src="static/images/arrow.png">
    </a>
</body>

</html>